<script type="text/javascript" src="/js/member.js"></script>
<link rel="stylesheet" href="/CSS/member.css">
<div>
    <nav class="#B0BEC5 blue-grey lighten-3">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
                <img class="responsive-img circle" src="/images/logo.jpg" style="height: 55px;">
            </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {{!-- <li class="active"><a href="/views/signup.handlebars">New User</a></li> --}}
                <li><a href="/mealplan">Meal Plans</a></li>
                <li><a href="/">Live Chat</a></li>
                <li><a class = "logOutButton">Log out</a></li>
                {{!-- change href later --}}
            </ul>
            <ul class="side-nav" id="mobile-demo">
                {{!-- <li class="active"><a href="/">New User</a></li> --}}
                <li><a href="/mealplan">Meal Plans</a></li>
                <li><a href="/">Live Chat</a></li>
                <li><a class = "logOutButton">Log out</a></li>


            </ul>
        </div>
    </nav>
</div>
<div class="background">
    {{!-- <div class="section white"> --}}
    <div class="container">
        <div class="col s6 offset-s3 center-align">
            <h2 class="header  teal-text accent-4">Meal Budget</h2>
            <p class="black-text darken-3"> Start Planning Your Meals! </p>
        </div>
    </div>
    <div class="row container">
        <div class="col 14 m4 s12">
            <div class="card large">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                        src="https://media1.giphy.com/media/fV2fRFQ9xesT75rsBy/giphy.gif?cid=ecf05e4715b3b8f9ee50a5db21cfb63de4cb6d9d5b4b9809&rid=giphy.gif">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Meal Search<i
                            class="material-icons right">add_circle_outline</i></span>
                    <p>Enter the amount you want to spend on a meal and then select either a recipe or a restaurant
                        menu item.</p>
                </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Meal Search<i
                                class="material-icons right">close</i></span>
                        <form class="col s12" action="/api/submitMealPlan" method="POST">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="budget" name="budget" type="text" class="validate">
                                    <label for="budget">Meal Budget</label>
                                </div>
                                <div class="input-field col s12">
                                    <input type="date" id="meal-date" class="datepicker" name="pickedday">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="key-words" name="keywords" type="text">
                                    <label for="key-words">Likes?</label>
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit" name="action"
                                id="submitInfor">Submit
                                <i class="material-icons right">send</i>
                            </button> 
                        </form>
                    </div>
            </div>  
        </div>    
            <div class="col 14 m4 s12">
                <div class="card large">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator"
                            src="https://media3.giphy.com/media/dAzkOoCgoFHtCAdFhe/giphy.gif?cid=6104955e89b4b2ccc5756d2f5029c93c0ead500f162a3fbb&rid=giphy.gif">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Choose a Meal<i 
                        class="material-icons right">menu_book</i></span>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Options<i
                                class="material-icons right">close</i></span>
                        <ul class="collapsible unOrderItem">

                            {{#each restaurants}}
                            <li>
                                <div class="collapsible-header" data-apiKey={{this.apiKey}}>
                                    <i class="material-icons">restaurant</i>
                                    <span>{{this.name}}</span>
                                </div>
                                {{#each this.menuItems}}
                                <div class="collapsible-body">
                                    <span>{{this.name}} ${{this.price}}</span>
                                    <button onclick="save(this, '{{../../date}}')">save</button>
                                    {{!-- <button class="saveOrder" onclick="save('5/1/2019')">save</button> --}}
                                </div>

                                {{/each}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col 14 m4 s12">
                <ul class="collapsible" id="collapsiblelist">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">event_available</i>{{date}}</div>
                        <div class="collapsible-body">
                            <ul class="orderedItem">
                            </ul>
                        </div>
                    </li>
                </ul>
                <h6 class="text-black">Weekly Total:</h6>
                <hr>
                <div class="row">
                    <i class="col s4 medium material-icons">attach_money</i>
                    <div class="col s8 totalCost">
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        <a id="submitOrderButton" class="waves-effect waves-light btn">Order</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="#eceff1 blue-grey lighten-5">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="black-text">About Us</h5>
                    <li class="black-text text-lighten-4"> Project Manager/Back-end Developer Andrew Murray
                    <li class="black-text text-lighten-4"> Front-end Developer Maria Jose Riofrio
                    <li class="black-text text-lighten-4"> Back-end Developer Christy
                    <li class="black-text text-lighten-4"> Developer Zach
                    </li>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="black-text">Links</h5>
                    <ul>
                        <li><a href="https://atmurray-fullstack.github.io/Andrew-Murray-portfolio/index.html"
                                class="fa fa-github">Andrew</a></li>
                        <li><a class="fa fa-github" href="https://mariariofrio.github.io/mywebsit/">MariaJose</a></li>
                        <li><a class="fa fa-github"
                                href="https://mianmianguo2020.github.io/ChristyG_Professional_Materials/">Christy</a>
                        </li>
                        <li><a class="fa fa-github" href="https://github.com/z-riah">Zach</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright-center">
            <div class="container">
                © 2014 Copyright Text
            </div>
        </div>
</div>
</footer>